<!DOCTYPE html>
<html>
  <head>
    <title>cars.com</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Exotic Cars</h1>
    <p>Welcome to moving machines</p>
    <ul>
      <li><a href="/cars">Cars</a></li>
    </ul>
  </body>
</html>
